* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 50px;
  /* color: red; */
}
.name-highlight {
  color: orange;
}
section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.half-width1 {
  width: 40%;
}
.half-width2 {
  width: 40%;
}
.half-width2 img {
  width: 100%;
}
